html, body, div, p, section, article, h1, h2, h3 {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

html, body, #__next, .index {
	height: 100%;
	font-family: '微软雅黑', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
		'Microsoft YaHei',  'WenQuanYi Micro Hei', Arial, sans-serif;
}