.easyui-layout {
	background-image: url(../images/backImg.png);
	background-repeat: no-repeat;
}

.panel-title {
	text-align: left;
}

.panel-header {
	border: none;
	border-bottom: solid 1px #979797;
}

#root-index>.panel-body {
	background-color: rgba(0, 0, 0, 0);
}

#root-main div {
	overflow-x: auto;
	color: #FFFFFF;
}

#root-main>.panel-body {
	border: none;
}

.root-else,
.root-else1 div {
	font-weight: 450;
	font-size: 1.5rem;
	overflow-x: auto;
	color: #FFFFFF;
}

.root-else,
.root-else1 textarea,
input {
	background-color: #1C2B50;
	color: #FFFFFF;
}
.root-else1 .l-btn-text{
	height: 5rem;
	line-height: 5rem;
}
.root-else1>.panel-body {
	font-size: 1.5rem !important;
}

.else-label {
	display: flex;
	justify-content: center;
	padding: 1% 0;
}

.else-label span {
	height: 2rem;
}

.else-button {
	margin-top: 20px;
}

.else-button a {
	width: 10% !important;
}

.l-btn {
	height: 5rem;
}

.l-btn-text {
	font-size: 1.5rem;
}

.panel-body {
	border: none;
	background-color: #15213F !important;
}

.layout-panel-north {
	background-color: #273963;
}

.layout-panel {
	border-bottom: solid #FFFFFF 1px;
}

#root-index>.layout-panel-north {
	padding: 1%;
	height: 8% !important;
}

.layout-panel-west td {
	font-weight: 650;
}

.goods-login {
	background-color: #273963 !important;
	background-image: url(../images/topImg-white.png);
	background-repeat: no-repeat;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-size: 40% 100%;
}
.goods-login span {
	font-size: 1.3rem;
}
.goods-login img {
	width: 2vw;
	height: 2vw;
}
.panel-title {
	height: 1em !important;
	line-height: 1em !important;
	padding: 5px;
}

.datagrid-header {
	background: #15213F !important;
}
.l-btn-icon{
	width: 1.5rem;
	height: 1.5rem;
	font-size: 1.25rem !important;
}
td {
	color: #FFFF;
	letter-spacing: 1.4px;
	font-size: 1rem;
}

.datagrid-header td {
	text-align: center;
}

.datagrid-header-inner {
	width: 100%;
}

.textbox {
	background-color: #1C2B50;
	border: none;
}

.textbox .textbox-text {
	height: 1.5rem;
	line-height: 1.5rem;
}

input {
	background-color: #1C2B50;
}

#bottom-input {
	border-left: solid #324262 1px;
}

#bottom-input input {
	border: solid #BEBEBE 1px;
}

.datagrid-header-row {
	color: #FFFFFF !important;
	letter-spacing: 1.4px !important;
	text-align: center !important;
	height: 3rem!important;
}

.datagrid-view,
.datagrid-header,
.datagrid-pager,
.datagrid-td-rownumber {
	background: #15213F !important;
	color: #fff !important;
}

.EDCIcon {
	height: 2rem;
	width: 40%;
}

.EDCIcon span .l-btn-text {
	height: 1rem;
	width: 2.5rem;
}

.makeSure a {
	display: block;
}

#EDC .datagrid-cell {
	display: flex;
	justify-content: space-around;
}

#message-line .easyui-linkbutton {
	background-color: rgba(0, 0, 0, 0);
}

#message-line td {
	display: block;
	height: 1.5rem;
	padding: .5rem;
	font-size: 1.5rem;
}

#message-line .l-btn-text {
	height: 1.5rem;
	line-height: 1.5rem;
}