<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>LineExceptionManager</title>
		<link rel="stylesheet" href="../css/manager.css" />
		<link rel="stylesheet" href="../css/all.css" />
		<link rel="stylesheet" href="../jquery-easyui-1.5.5.2/themes/default/easyui.css" />
		<link rel="stylesheet" href="../jquery-easyui-1.5.5.2/themes/icon.css" />
		<link rel="stylesheet" href="../demo.css">
		<script src="../jquery-easyui-1.5.5.2/jquery.min.js"></script>
		<script src="../jquery-easyui-1.5.5.2/jquery.easyui.min.js"></script>
		<style>
			.easyui-linkbutton {
				width: 10% !important;
				height: 3rem !important;
			}
			.l-btn-text {
				line-height: 3rem !important;
			}
			.pagination span {
				height: 5em;
			}
		</style>
	</head>

	<body>
		<div>
			<table id="tool-manage" class="easyui-datagrid" style="width:100%;" rownumbers="true" pagination="true" pageSize="20" toolbar="#tool-box5">
				<thead>
					<tr>
						<th data-options="field:'LOT_ID'" width="10%">LOT_ID</th>
						<th data-options="field:'SOURCE_ID_3'" width="10%">工序</th>
						<th data-options="field:'SOURCE_DESC_2'" width="8%">报警人</th>
						<th data-options="field:'ALARM_TYPE'" width="8%">报警类型</th>
						<th data-options="field:'ALARM_ID'" width="8%">报警ID</th>
						<th data-options="field:'ALARM_SUBJECT'" width="10%">报警主题</th>
						<th data-options="field:'ALARM_MSG'" width="38%">报警描述</th>
						<th data-options="field:'TRAN_TIME'" width="9%">报警时间</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
					</tr>
					<tr></tr>
				</tbody>
			</table>
		</div>
		<div id="tool-box5" class="tool-box">
			<a href="#" class="easyui-linkbutton btn-bg" plain="true">刷新</a>
		</div>
	</body>

</html>