<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>LineLonginQuery</title>
		<link rel="stylesheet" type="text/css" href="../../Scripts/easyui/themes/default/easyui.css">
		<link href="../../Scripts/easyui/demo/demo.css" />
		<link href="../../Scripts/easyui/themes/icon.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../Css/manager.css" />
		<link rel="stylesheet" href="../../Css/all.css" />
		<script type="text/javascript" src="../../Scripts/jquery.min.js"></script>
		<script type="text/javascript" src="../../Scripts/jquery.easyui.min.js"></script>
		<style>
			.easyui-linkbutton {
				width: 10% !important;
				height: 3rem !important;
			}
			.l-btn-text {
				line-height: 3rem !important;
			}
			.pagination span {
				height: 5em;
			}
		</style>
	</head>

	<body>
		<div>
			<table id="tool-manage" class="easyui-datagrid" style="width:100%" rownumbers="true" pagination="true" pageSize="20" toolbar="#tool-box4">
				<thead>
					<tr>
						<th data-options="field:'LINEID'" width="20%">产线编号</th>
						<th data-options="field:'STATIONID'" width="20%">工站编号</th>
						<th data-options="field:'LOGIN_USER'" width="20%">用户编号</th>
						<th data-options="field:'USER_DESC'" width="20%">用户名</th>
						<th data-options="field:'LOGIN_TIME'" width="20%">登录时间</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
					</tr>
					<tr></tr>
				</tbody>
			</table>
		</div>
		<div id="tool-box4" class="tool-box">
			<a href="#" class="easyui-linkbutton btn-bg" plain="true">刷新</a>
		</div>
	</body>

</html>