<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>LineStateMangement</title>
		<link rel="stylesheet" href="../../Scripts/easyui/thems/default/easyui.css" />
		<link href="../../Scripts/easyui/themes/icon.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../Scripts/easyui/demo/demo.css" />
		<link rel="stylesheet" href="../../Css/manager.css" />
		<link rel="stylesheet" href="../../Css/all.css" />
		<script src="../../Scripts/jquery.min.js"></script>
		<script src="../../Scripts/jquery.easyui.min.js"></script>
		
		<style>
			.state-box {
				height: 100%;
				width: 100%;
				background: #15213F;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		</style>
	</head>

	<body>
		<div class="state-box">
			<div class="line_state">
				<div class="line-row">
					<button name="FREE_01" onclick="FREE_01()"><img src="../../images/关机.png">产线关机(FREE_01)</button>
				</div>

				<div class="line-row">
					<button name="MAIN_01" onclick="MAIN_01()"><img src="../../images/设计.png">产品试制(MAIN_01)</button>
					<button name="MAIN_02" onclick="MAIN_02()"><img src="../../images/设计.png">功能调试(MAIN_02)</button>
					<button name="MAIN_03" onclick="MAIN_03()"><img src="../../images/设计.png">诊断改善(MAIN_03)</button>
					<button name="MAIN_04" onclick="MAIN_04()"><img src="../../images/设计.png">首件确认(MAIN_04)</button>
				</div>

				<div class="line-row">
					<button name="PROD_01" onclick="PROD_01()"><img src="../../images/设置.png">正常生产(PROD_01)</button>
				</div>

				<div class="line-row">
					<button name="SCDN_01" onclick="SCDN_01()"><img src="../../images/安排.png">例行检修(SCDN_01)</button>
					<button name="SCDN_02" onclick="SCDN_02()"><img src="../../images/安排.png">休&nbsp;&nbsp;&nbsp;息(SCDN_02)</button>
					<button name="SCDN_03" onclick="SCDN_03()"><img src="../../images/安排.png">例行会议(SCDN_03)</button>
					<button name="SCDN_04" onclick="SCDN_04()"><img src="../../images/安排.png">产前准备(SCDN_04)</button>
					<button name="SCDN_05" onclick="SCDN_05()"><img src="../../images/安排.png">其他安排(SCDN_05)</button>
				</div>

				<div class="line-row">
					<button name="USCD_01" onclick="USCD_01()"><img src="../../images/制造.png">设备故障(USCD_01)</button>
					<button name="USCD_02" onclick="USCD_02()"><img src="../../images/制造.png">质量问题(USCD_02)</button>
					<button name="USCD_03" onclick="USCD_03()"><img src="../../images/制造.png">物料短缺(USCD_03)</button>
					<button name="USCD_04" onclick="USCD_04()"><img src="../../images/制造.png">工艺文件(USCD_04)</button>
					<button name="USCD_05" onclick="USCD_05()"><img src="../../images/制造.png">系统故障(USCD_05)</button>
				</div>

			</div>
		</div>
	</body>
	
</html>